@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@font-face {
	font-family: "Book Antiqua";
	src: url("fonts/BKANT.TTF");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Book Antiqua";
	src: url("fonts/BKANTI.TTF");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Book Antiqua";
	src: url("fonts/BKANTB.TTF");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Book Antiqua";
	src: url("fonts/BKANTBI.TTF");
	font-style: italic;
	font-weight: bold;
}

*{
	$piros: #7f3131;
	$zold: #1e4b37;
	$sotetszurke: #9c9d97;
	$vilagosszurke: #e4e4e4;
	$feher: #ffffff;

	margin: 0;
	padding: 0;
	font-family: "Book Antiqua";
	box-sizing: border-box;
	outline: none;
	position: relative;

	html{
		scroll-behavior: smooth;
	}

	body{
		min-height: 100vh;
		overflow: hidden;

		&.no-transition *{
			transition: 0s !important;
		}
		.wrapper{
			width: 100vw;
			height: 100vh;
			display: grid;
			grid-template-columns: 70px auto;

			&.sidepanel-open{
				grid-template-columns: 300px auto;
			}
			.menu{
				width: 70px;
				height: 100%;
				box-shadow: 0 0 10px #0000005e;
				transition: .3s;
				overflow: hidden;
				z-index: 1;
				background-color: $feher;

				&.open{
					width: 300px;
					box-shadow: 0 0 10px black;
				}
				.title{
					display: grid;
					grid-template-columns: 70px auto;
					height: 50px;
					margin-bottom: 20px;
					margin-top: 5px;

					i{
						line-height: 50px;
						text-align: center;
						font-size: 18pt;
						user-select: none;
						cursor: pointer;
						-webkit-tap-highlight-color: transparent;
					}
					h1{
						line-height: 50px;
						font-size: 16pt;
						font-family: "Open Sans";
					}
				}
				ul{
					list-style-type: none;

					a{
						text-decoration: none;
						color: $zold;
						font-family: "Open Sans";

						li{
							width: 300px;
							padding: 20px 0;
							transition: .3s;
							display: grid;
							grid-template-columns: 70px auto;
							cursor: pointer;	
							-webkit-tap-highlight-color: transparent;
							font-family: "Open Sans";
	
							i, label{
								font-size: 15pt;
								text-align: center;
								line-height: 22px;
								z-index: 2;
								-webkit-tap-highlight-color: transparent;
								color: black;
							}
							&:hover:not(.input), &.active{
								background-color: $vilagosszurke;
							}
						}
					}
					li{
						width: 300px;
						padding: 20px 0;
						transition: .3s;
						display: grid;
						grid-template-columns: 70px auto;
						cursor: pointer;	
						-webkit-tap-highlight-color: transparent;
						font-family: "Open Sans";

						i, label{
							font-size: 15pt;
							text-align: center;
							line-height: 22px;
							z-index: 2;
							-webkit-tap-highlight-color: transparent;
						}
						&:hover:not(.input), &.active{
							background-color: $vilagosszurke;
						}
						&.input input{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							border: none;
							background: linear-gradient(to left, $vilagosszurke, #d3d3d3, $vilagosszurke);
							background-size: 500%;
							padding-left: 70px;
							font-family: "Open Sans";
							font-size: 12pt;
							z-index: 1;
							animation: background-move 10s linear 0s infinite;
						}
					}
				}
			}
			.content{
				padding: 10px;
				height: 100vh;
				overflow-y: scroll;
				
				.btn{
					display: inline-block;
					text-align: center;
					color: $feher;
					text-decoration: none !important;
					user-select: none;
					border-radius: 5px;
					-webkit-tap-highlight-color: transparent;
					
					&.btn1{
						background-color: $zold;
						width: 40px;
						height: 40px;
						line-height: 40px;
					}
					&.btn2{
						background-color: $piros;
						width: 80px;
						height: 40px;
						line-height: 40px;
						margin: 0 10px;
						letter-spacing: 1px;
						font-weight: bold;
						font-size: 16pt;
						margin-bottom: -15px;

						&::before{
							content: attr(cim);
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: none;
						}
					}
					&.disabled{
						background-color: desaturate($color: lighten($zold, 20%), $amount: 35%);
						cursor: not-allowed;
					}
					input{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: none;
						border: none;
						color: white;
						text-align: center;
						font-size: 16pt;
						letter-spacing: 1px;
						font-weight: bold;
					}
				}
				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
				  -webkit-appearance: none;
				  margin: 0;
				}
				input[type=number] {
					appearance: textfield;
					-moz-appearance: textfield;
				}
				.buttons{
					float: left;
					line-height: 57px;
				}
				.title{
					float: left;
					padding-left: 5px;

					h1{
						font-size: 19pt;
					}
					h2{
						font-size: 17pt;
					}
				}
				.tartalom{
					clear: both;

					img{
						max-width: 100%;
					}
				}
				.line{
					display: block;
					width: 100%;
					height: 1px;
					background-color: black;
					margin: 10px 0;
				}
				.jegyzet{
					font-style: italic;

					&.red{
						color: $piros;
					}
				}
				a{
					color: $zold;
					text-decoration: none;

					&:hover{
						text-decoration: underline;
					}
				}
				.versszak{
					font-size: 13.5pt;

					p:not(.no-indent){
						margin: 10px 25px;
						text-indent: -20px;
					}
					p.no-indent{
						margin: 10px 5px;
					}
				}
				.himnologia{
					margin: 12pt 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	*{
		.wrapper{
			display: block !important;

			.menu{
				position: fixed;
				top: 0px !important;
				left: 100% !important;
				width: 100% !important;
				height: 100% !important;
				overflow: visible !important;

				&.open{
					left: 50px !important;
					box-shadow: 0 0 100px black !important;
				}
				.title{
					position: absolute;
					top: 0px;
					left: -50px;
					width: 50px;
					height: 50px;
					margin: 0 !important;
					background-color: white;
					box-shadow: 0 0 10px #0000005e;
					z-index: 3;
					
					i{
						width: 50px;
					}
					h1{
						display: none;
					}
				}
				ul{
					li{
						width: 100% !important;
					}
				}
			}
			.content{
				.buttons, .title{
					float: none !important;
					display: block !important;
				}
			}
		}
	}
}